
.isvalid{
    font-size: 20px;
    color:#1a8cff;

}
.isinvalid{
    font-size: 20px;
    /* color:#d6d7e0; */

}
.background{
   background-image: url('../../assets/notescomputer.jpg');
   background-size: cover;
}

.login-button{
    color:white;
    background-color: rgb(104, 97, 87);
}

.link{
    font-weight: 800;
}

.link:hover{
    color: #1a8cff;
}