<div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
  <div fxLayout="row" fxFlex="90" style="width: 100%;"  fxLayoutAlign="start stretch" fxLayoutAlign="start stretch">
    <div fxFlex="100" style="width:100%;height: 85vh;" fxLayout="column" fxLayoutAlign="space-between">
        <div *ngIf="Notes" fxLayout="column" fxFlex="100" style="margin-left: 5%;">
            <div class="cards" fxLayout="row" fxLayoutGap="1em" fxFlex="30">
                <mat-card class="card-background" *ngFor="let note of Notes;let i=index">
                    <mat-card-content fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">

                        <div flexLayout="column" fxFlex="60">
                            <div>
                                <label style="display: flex;" class="title">Title: <span
                                        class="ellipsis-text" [matTooltip]="note?.title">{{ note?.title}}</span></label>
                            </div>
                            <div *ngIf="note?.createdTime">
                                <label flexLayout="row" class="content">Created Time:
                                    <span>{{ note?.createdTime | date : 'medium' }}</span></label>
                            </div>
                            <div *ngIf="note?.editedTime">
                                <label flexLayout="row" class="content">Edited Time:
                                    <span>{{ note?.editedTime | date :'medium' }}</span></label>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="end">
                            <button mat-mini-fab color="primary" (click)="opendilogue(i);note.action=&apos;edit&apos;">
                                <mat-icon matTooltip="edit note">edit</mat-icon>
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div *ngIf="!Notes" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <h1>Create a Note</h1>
        </div>
        <div fxLayout="row" fxFlex="10" fxLayoutAlign="end">
            <button mat-mini-fab>
                <mat-icon class="pointer" matTooltip="Create New Note" (click)="createnotes()">note_add</mat-icon>
            </button>
        </div>
    </div>
</div>
</div>