<div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
   <div fxLayout="row" fxFlex="90" style="width:100%" fxLayoutAlign="start stretch">
       <div  routerLink="/home/notes" fxFlex="20" class="notes-height dashboard-icon pointer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
            <mat-icon class="notes">note</mat-icon>
            <span class="title">Notes....</span>
        </div>
   
        <div fxFlex="20" class="notes-height dashboard-icon pointer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
            <mat-icon class="doc">note</mat-icon>
            <span class="title">Docs....</span>
        </div>
    </div>
</div>
