/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-userlogin,
app-dashboard {
    height: 100%;
}

.color-white{
    color: white;
}
.pointer {
    cursor: pointer;
}
.ellipsis-text {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-color{
    background: rgba(20, 20, 20, 0.76);
}

.green{
    color: #6cb33f;
}

.font-10{
    font-size: 10px;
}

.dashboard-icon .mat-icon{
    height:115px;
    width: 0px;
}
.login-icon .mat-icon{
    font-size: 40px;
    width: 50px;
    height: 50px;
}